.list {
    &--folder {
        list-style-type: none;
        padding-left: 25px;

        li {
            padding-left: 25px;
            position: relative;

            &::before {
                content: "\f07c";
                display: block;
                font-family: $far;
                font-weight: 400;
                left: 0;
                position: absolute;
                top: 0;
            }
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }
    }
}