.subheading {
    border-top: $hr-border-width solid $hr-border-color;
    border-bottom: $hr-border-width solid $hr-border-color;
    margin-bottom: $hr-margin-y;
    margin-top: $hr-margin-y;
    padding-top: $hr-margin-y;
    padding-bottom: $hr-margin-y;

    h4 {
        margin: 0;
    }
}